<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.sharedlibrary">
    <!-- GPS location service -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Writing log files to storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>